<h1>Survey#edit</h1>
<p> <%= "#{@survey.title}" %> </p>

<%= link_to "Delete this Survey", @survey, method: :delete, data: { confirm: "Are you sure?" } %>

<%= form_for @survey, url: survey_path(@survey), method: :patch, html: {class: "edit-survey"} do |f| %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= render '/questions/create', survey_id: @survey.id %>




