<h1> Surveys </h1>

<% if current_user %>
  <li id="signed-in">
    Signed in as <%= current_user.email %></li>
  <li> <%= link_to "Logout", '/logout' %></li>
<% else %>
  <li> <%= link_to 'Login', '/login' %></li>
  <li> <%= link_to 'Signup', '/signup' %></li>
<% end %>



<% @surveys.each do | survey | %>
  <td>
    <%= "#{survey.title}" %>
    <%= link_to "View Survey", survey_path(survey) %>
    <%= link_to "Edit Survey", edit_survey_path(survey) %>
  </td>
<% end %>

<%= link_to "Create New Survey", new_survey_path %>
